html,body,div,p,span,i,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

html,body{
    height: 100%;
}

.main-content{
    margin: 20px 0;
    min-height: 80%;
}

.main-content .container {
    background: #fefefe;
}

/* 侧边栏工具条 */
/*===============================================

===================================================*/
.sidebar{
    width: 45px;
    position: fixed;
    right: 3px;
    top: 50%;
    transform: translate(0,-30%);
}

.sidebar ul li{
    width: 100%;
    height: 55px;
    margin-bottom: 1px;
    background: rgba(244, 100, 95, 0.6);
    color: #fcfcfc;
    text-align: center;
    transition: 0.5s;
    position: relative;
}

.sidebar ul li:hover{
    background: #f4645f;
    border: 1px solid #e3534e;
    color: #fcfcfc;
    cursor: pointer;
    transition: 0.5s;
}

.sidebar ul li dl{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.sidebar ul li a{
    color: #fcfcfc;
}

/* copyright */
/*=============================================================

==============================================================*/
.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}
.copyright span {
    margin: 0 .5em;
}
.copyright a {
    color: #555555;
}