.btn-uploader{
    position: relative;
    overflow: hidden;
    border-radius: 30px !important;
}
.simple-uploader-file{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}